:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: url(./background/poker-table-background_77211-140.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.hide {
  display:none;
}

.mainFlex {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blackJack {
  text-align: center;
  color: white;
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  margin-top: 0rem;
  padding-top: 0.5rem;
}

.title {
  display:flex;
  justify-content:space-evenly;
  color:whitesmoke;
  font-size:2rem;

}

#userCards {
  /* spread out cards further*/
  padding-right:40rem;
}
.cardFlex {
  height:50%;
  width:auto;
  display:flex;
  justify-content:space-between;
  list-style: none;
}

.cardFlex> h2 {
  color:white;
}

.playerCards {
  display:flex;
  flex-direction:row;
  border:10px solid rgb(129, 129, 129);
  width: 50%;
}

.playerCards li {
  margin-left:-2.5rem;
}

.dealerCards {
  display:flex;
  flex-direction:row;
  border:10px solid rgb(129, 129, 129);
  width: 50%;
 
}

.dealerCards li {
 margin-left: -2.5rem;
}

.buttonFlex {
  text-align:center;
  padding-bottom:5rem;
}

.hitMe:hover {
  color:white;
  background-color:rgb(110, 0, 0);
} 

.stand:hover {
  color:white;
  background-color: rgb(0, 0, 100);
} 

.deal:hover {
  color:black;
  background-color: rgb(199, 199, 199);
} 

.reset:hover {
  color:black;
  background-color: red;
} 

.hitMe {
  border: red;
  border-radius: 24px;
  font-size: 3rem;
  background-color: rgb(172, 39, 39);
  height: auto;
  width: 12rem;
  color: white;
  margin-right:10rem;
}
.stand {
  border: blue;
  border-radius: 24px;
  font-size: 3rem;
  background-color: rgb(59, 59, 184);
  height: auto;
  width: 12rem;
  color: white;
  margin-right:10rem;
}

.deal {
  border: black;
  border-radius: 24px;
  font-size: 3rem;
  background-color: gray;
  height: auto;
  width: 12rem;
  color: black;
} 
.reset {
  border: yellow;
  border-radius: 24px;
  font-size: 3rem;
  background-color: yellow;
  height: auto;
  width: 12rem;
  color: black;
  margin-left:12rem;
} 

.hide {
  display:none;
}